.contact {
  max-width: 600px;
  margin: 40px auto;
  margin-top: 28vh;
  padding: 20px;
  background-color: var(--card-color);
  color: var(--text-color);
  border-radius: 10px;
  box-shadow: 0 4px 12px var(--shadow-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: background 0.3s, color 0.3s;
}

.contact-title {
  text-align: center;
  margin-bottom: 16px;
  font-size: 1.6rem;
  color: var(--accent-color);
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--text-color);
}

.contact-input,
.contact-textarea {
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: border 0.3s;
}

.contact-input:focus,
.contact-textarea:focus {
  border-color: var(--accent-color);
}

.contact-button {
  background-color: var(--accent-color);
  color: white;
  border: none;
  padding: 12px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.contact-button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .contact {
    margin: 18vh 10px 1vh;
    padding: 15px;
  }

  .contact-input,
  .contact-textarea {
    font-size: 0.95rem;
  }

  .contact-button {
    font-size: 0.95rem;
  }
}
