.freelance {
  margin: 50px 50px 0px;
  margin-top: 20vh;
  padding: 10px 20px 0px;
  font-family: 'Segoe UI', sans-serif;
}

.freelance-title {
  font-size: 2rem;
  text-align: center;
  color: #007bff;
  margin-bottom: 20px;
}

.freelance-desc {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1rem;
  color: #444;
}

.freelance-form {
  display: flex;
  flex-direction: column;
}

.freelance-form label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.freelance-form input,
.freelance-form textarea,
.freelance-form select {
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.freelance-button {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 12px 12px 12px 0px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
  width: auto;
}

.freelance-button:hover {
  background: #0056b3;
}

.freelance-price {
  font-weight: bold;
  font-size: 1rem;
  color: #007bff;
  margin-bottom: 20px;
}

.formgridp {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  row-gap: 6px;
}

@media (min-width:700px) {
  .formgridp {
    grid-template-columns: repeat(2, 1fr);
  }

  .formgridc:nth-child(5),
  .formgridc:nth-child(6) {
    grid-column: span 2;
  }
}

.formgridc {
  display: flex;
  flex-direction: column;
}