.navbar {
    height: 5vw;
    width: 100%;
    background-color: rgba(21, 21, 21, 0.5);
    display: flex;
    z-index: 1;
    position: fixed;
}
.navbar .logo {
    margin-left : 3%;
    width: 3.5%;
}
.navbar .logo img {
    height: 2vw;
}
.subscribeButton {
    margin-left: 2%;
}
.subscribeButton button{
    background-color: rgb(71,117,195);
    color: white;
    font-size: 0.9vw;
    padding: 0.35vw;
    border-radius: 0.4vw;
}
.ul1 {
    margin-left: 2%;
    border-left: 1px solid grey;
    display: flex;
    list-style: none;
    width: 70%;
}
.li1 {
    align-items: stretch;
}
.a1 {
    padding: 1.75vw;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.2vw;
}
.a1:hover {
    border-bottom: 2px solid white;
    color: rgb(133, 133, 133);
}
.searchicon {
    margin-left: 120%;
    height: 100%;
    width: 100%;
    font-size: 2.2vw;
    color: white;
}
.fasearch {
    padding: 1vw;
}
.signinicon {
    margin-left: 120%;
    height: 100%;
    width: 4vw;
    font-size: 3.4vw;
    color: white;
}
.fasignin {
    padding: 0.5vw;
}
.signinblock {
    display: none;
    position: absolute;
    border-radius: 0.8vw;
    margin-top: 5vw;
    margin-left: 74%;
    z-index: 1;
    height: 30vw;
    width: 25%;
    grid-template-rows: 6vw repeat(6,4vw);
    background-color: rgba(21, 21, 21, 0.5);
}
.navlink1 {
    text-decoration: none;
    color: white;
}
.signinblock a:hover {
    border-radius: 0.8vw;
    background-color: rgb(151, 151, 151);
}
.sign1 {
    width: 100%;
    display: flex;
}
.fasign {
    margin-left: 1vw ;
    padding: 0.4vw;
    height: 4.5vw;
    width: 4.5vw;
}
.sign11{
    margin-left: 0.5%;
    height: 100%;
    width: 73%;
}
.sign11h1{
    
    font-size: 1.6vw;
}
.sign11p{
    margin-top: 0.5vw;
}
.sign12 {
    height: 100%;
    width: 5vw;
}
.facrown {
    height: 1.7vw;
    width: 1.7vw;
    padding: 1vw 1.65vw;
}
.facrown1 {
    height: 1.1vw;
    width: 1.1vw;
    padding: 1.3vw 1.95vw;
}
.sign12h2 {
    align-items: center;
    font-size: 1.2vw;
    margin: 1.1vw;
}
.sportblock {
    position: absolute;
    display: none;
    z-index: 1;
    top: 5vw;
    width: 100%;
    height: 28vw;
    background-color: rgba(0, 0, 0, 0.5);;
    color: white;
}
.opt {
    top: 3vw;
    display: flex;
    width: 100%;
    font-size: 1.5vw;
}
.sports {
    left: 12%;
    width: auto;
    padding: 1.2vw;
    height: 100%;
    border-radius: 1vw;
}
.spopt {
    border-radius: 1vw;
    right: -50%;
    margin-left: 3%;
    padding: 1.2vw;
    font-size: 1.4vw;
    width: auto;
    height: 100%;
    border: none;
    color: white;
    background-color: gray;
}
.spopt:hover {
    background-color: rgb(21, 21, 21);
}
.spopt.active {
    background-color: darkgrey;
}
.spa {
    text-decoration: none;
    color: white;
}
.spcp {
    top: 7vw;
    left: 10%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(7,13.6%);
    column-gap: 0.8%;
    grid-template-rows: 14vw;
}
.spcc {
    background-color: yellow;
    height: 100%;
}
.spfp {
    top: 7vw;
    left: 10%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(7,13.6%);
    column-gap: 0.8%;
    grid-template-rows: 14vw;
}
.spfc {
    background-color: brown;
    height: 100%;
}
.spwp {
    top: 7vw;
    left: 10%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(7,13.6%);
    column-gap: 0.8%;
    grid-template-rows: 14vw;
}
.spwc {
    background-color: salmon;
    height: 100%;
}

.tvblock {
    position: absolute;
    display: none;
    top: 5vw;
    width: 100%;
    z-index: 1;
    height: 28vw;
    background-color: rgba(0, 0, 0, 0.5);;
    color: white;
}
.opt1 {
    top: 3vw;
    display: flex;
    width: 100%;
    font-size: 1.5vw;
}
.tvs {
    left: 12%;
    width: auto;
    padding: 1.2vw;
    height: 100%;
    border-radius: 1vw;
}
.tpopt {
    border-radius: 1vw;
    right: -25%;
    margin-left: 2%;
    padding: 1.2vw;
    font-size: 1.4vw;
    width: auto;
    height: 100%;
    background-color: gray;
    border: none;
    color: white;
}
.tpopt:hover {
    background-color: gray;
}
.tpopt.active {
    background-color: darkgrey;
}
.tpa {
    text-decoration: none;
    color: white;
}
.tpsetp {
    top: 7vw;
    left: 10%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(7,13.6%);
    column-gap: 0.8%;
    grid-template-rows: 14vw;
}
.tpsetc {
    background-color: yellow;
    height: 100%;
}
.tpsonyp {
    top: 7vw;
    left: 10%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(7,13.6%);
    column-gap: 0.8%;
    grid-template-rows: 14vw;
}
.tpsonyc {
    background-color: brown;
    height: 100%;
}
.tpsmp {
    top: 7vw;
    left: 10%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(7,13.6%);
    column-gap: 0.8%;
    grid-template-rows: 14vw;
}
.tpsmc {
    background-color: salmon;
    height: 100%;
}
.tpsysp {
    top: 7vw;
    left: 10%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(7,13.6%);
    column-gap: 0.8%;
    grid-template-rows: 14vw;
}
.tpsysc {
    background-color: khaki;
    height: 100%;
}

.mvblock {
    display: none;
    position: absolute;
    z-index: 1;
    top: 5vw;
    width: 100%;
    height: 28vw;
    background-color: rgba(0, 0, 0, 0.5);;
    color: white;
}
.opt2 {
    top: 3vw;
    display: flex;
    width: 100%;
    font-size: 1.5vw;
}
.mvs {
    left: 12%;
    width: auto;
    padding: 1.2vw;
    height: 100%;
    border-radius: 1vw;
}
.mpopt {
    border-radius: 1vw;
    right: -40%;
    margin-left: 2%;
    padding: 1.2vw;
    font-size: 1.4vw;
    width: auto;
    height: 100%;
    background-color: gray;
    border: none;
    color: white;
}
.mpopt:hover {
    background-color: rgb(21, 21, 21);
}
.mpopt.active {
    background-color: darkgrey;
}
.mpa {
    text-decoration: none;
    color: white;
}
.mpsetp {
    top: 7vw;
    left: 10%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(7,13.6%);
    column-gap: 0.8%;
    grid-template-rows: 14vw;
}
.mpsetc {
    background-color: yellow;
    height: 100%;
}
.mpsonyp {
    top: 7vw;
    left: 10%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(7,13.6%);
    column-gap: 0.8%;
    grid-template-rows: 14vw;
}
.mpsonyc {
    background-color: brown;
    height: 100%;
}
.mpsmp {
    top: 7vw;
    left: 10%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(7,13.6%);
    column-gap: 0.8%;
    grid-template-rows: 14vw;
}
.mpsmc {
    background-color: salmon;
    height: 100%;
}
.mpsysp {
    top: 7vw;
    left: 10%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(7,13.6%);
    column-gap: 0.8%;
    grid-template-rows: 14vw;
}
.mpsysc {
    background-color: khaki;
    height: 100%;
}
.spcc, .spfc, .spwc, .tpsetc, .tpsmc, .tpsonyc, .tpsysc, .mpsetc, .mpsmc, .mpsonyc, .mpsysc{
    object-fit: fill;
    border-radius: 1vw;
    overflow: hidden;
}
.spcc:last-child {
    background: url(/sportsimage/roland_garros_2024_3_portrait_thumb_1.avif);
    background-size: cover;
    opacity: 50%;
}
.stmarr {
    font-size: 4vw;
    color: black;
    padding: 5vw 25%;
}