.signin {
    background-color: rgb(21, 21, 21);
    width: 99.6%;
    margin: 7.9vh -5px;
    height: 90.1vh;
    color: white;
    text-align: center;
    position: absolute;
    align-items: center;
}
.s1 {
    width: 30%;
    height: 60vh;
    margin: 10vh 35%;
}
.s1inp {
    margin-top: 5vh;
    width: 98%;
    padding: 10px 0px;
}
.s1but {
    margin-top: 5vh;
    width: 100%;
    font-size: 24px;
}
.signinlink {
    color: white;
}
.signinp {
    color: rgb(80, 73, 73);
}
.s1link {
    color: rgb(80, 73, 73);
}
.s1link:hover {
    background-color: rgb(80, 73, 73);
    color: white;
}