.teachers-container {
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.gridcontainer {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
  gap: 20px;
}

.teacher-card {
  background-color: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  width: 100%;
}

.teacher-card h3 {
  margin: 5px 0;
}
